button {
   width: 33%; 
   font-size: 50px;
   border: solid 30px darkslategray;
   background-color: lightgrey;
   border-radius: 10px;
   height: 200px;
}
.last_button {
    width: 100%;
    color: deeppink;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}